<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bsoft.webview">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>



    <application>

        <activity android:name=".BaseWebActivity"
                  android:theme="@style/AppTheme"/>
    </application>
</manifest>
