<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bsoft.libcommon">

    <application>

        <activity android:name=".commonaop.permission.PermissionRequestActivity"
                  android:theme="@style/translucent" />




        <service android:name=".InitializeService">
            <intent-filter >
                <action android:name="com.bsoft.pub.jetpack.ipc"/>
            </intent-filter>
        </service>
    </application>
</manifest>