<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bsoft.libcommon">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application>

        <activity android:name=".commonaop.permission.PermissionRequestActivity"
                  android:theme="@style/translucent" />

        <service android:name=".InitializeService">
            <intent-filter >
                <action android:name="com.bsoft.pub.jetpack.ipc"/>
            </intent-filter>
        </service>

          <activity
                android:name=".thirdpart.crash.DefaultErrorActivity"
                android:process=":error_activity" />

        <provider
                android:name=".thirdpart.crash.CaocInitProvider"
                android:authorities="${applicationId}.customactivityoncrashinitprovider"
                android:exported="false"
                android:initOrder="101" />

        <activity android:name=".common.dicchoice.SingleChoiceActivity"
                  android:theme="@style/AppTheme"/>
        <activity android:name=".common.dicchoice.MultiChoiceActivity"
                  android:theme="@style/AppTheme"/>
    </application>
</manifest>