<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.bsoft.libbasic">

    <!--安装-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <!--定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--电话-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--读日历-->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <!--传感器-->
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
                     tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission
            android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
            tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!--9.0https适配-->
    <application
            android:networkSecurityConfig="@xml/network_security_config">



        <!-- 全局Context提供者 -->
        <provider
                android:name="com.bsoft.libbasic.context.ApplicationContextProvider"
                android:authorities="${applicationId}.contextprovider"
                android:exported="false" />

    </application>





</manifest>